html {
  font-family: Helvetica;
}

header,
#section-break {
  color: white;
  text-align: center;
  background-image: url("../images/the-flatiron-building.png");
}

a {
  color: white;
  font-size: 18px;
}

.center-section,
.bottom-section {
  text-align: center;
}

footer {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}
